/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Resets */
/*reset do alert do bootstrap*/
.alert {
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	color: #3B94D9;
}

a:hover, a:focus {
	text-decoration: none;
	background-color: transparent;
	color: #3B94D9;
}

/* General */
#menu-wrapper,
#site-wrapper {
	max-width: 730px;
	background-color: #f5f8fa;
}

#menu-wrapper {
	padding: 0;
}

#site-wrapper {
	padding-bottom: 50px;
}


/* Menu */
.navbar-default {
	max-width: 730px;
	background-color: #EBF4FB;
	height: 46px;
	border: none; /*Reseta border do boostrap*/
	border-bottom: 1px solid rgba(0,0,0,0.15);
}

.navbar-default li a {
    font-weight: 600;
    color: #66757f;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav li a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #3B94D9 !important;
    text-decoration: none;
    background-color: transparent;
    transition: 0.3s;
}

.nav-collapse.collapse.in {
    height: auto !important;
}

/* login */
.login-content {
	max-width: 400px;
	margin: 0 auto;
	text-align: center;
}