/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Resets */
/*reset do alert do bootstrap*/
.alert {
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	color: #3B94D9;
}

a:hover, a:focus {
	text-decoration: none;
	background-color: transparent;
	color: #3B94D9;
}

td {
	padding: 10px;
}

/* General */
#menu-wrapper,
#site-wrapper {
	max-width: 730px;
	background-color: #f5f8fa;
}

#menu-wrapper {
	padding: 0;
}

#site-wrapper {
	padding-bottom: 50px;
}


/* Menu */
.navbar {
	margin-bottom: 0;
}
.navbar-default {
	max-width: 730px;
	background-color: #EBF4FB;
	height: 46px;
	border: none; /*Reseta border do boostrap*/
	border-bottom: 1px solid rgba(0,0,0,0.15);
}

.navbar-default li a {
    font-weight: 600;
    color: #66757f;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav li a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #3B94D9 !important;
    text-decoration: none;
    background-color: transparent;
    transition: 0.3s;
}

.nav-collapse.collapse.in {
    height: auto !important;
}

/* login */
.login-content {
	max-width: 400px;
	margin: 0 auto;
	text-align: center;
}

/*posts*/
.all-posts-content {
	width: 90%;
	margin: 10px auto;
}

.all-posts-content h3 {
	text-align: center;
}

.new-tuite-link,
input[type="submit"] {
	font-size: 18px;
	padding: 9px 16px 8px 17px;
    text-align: center;
    color: #fff !important;
    border-radius: 8%;
    background-color: #1b95e0;
    border: 1px solid transparent;
}

.new-tuite-link {
	display: inline-block;
	margin: 10px;
}

.new-tuite-link:focus, 
.new-tuite-link:hover,
input[type="submit"]:focus,
input[type="submit"]:hover {
	background-color: #3B94D9;
}

.post-title {
	display: inline-block;
}

.tag-name {
	float: right;
	color: #3B94D9;
}

.posts-content {
	background-color: #fff;
	padding: 10px;
	border: 1px solid #e1e8ed;
}

.user-tuites-links {
	text-align: right;
	margin-bottom: 5px;
}

/*forms*/
.control-text-area {
	width: 90%;
	border : 1px solid #d3d7d9;
    padding: 10px;
    font-size: 16px;
}

.control-select {
	border: 1px solid #d3d7d9;
	width: 30%;
}